<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/studentdemo</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        
        <property name="connection.username">root</property>
		<property name="connection.password">root</property>
		<property name="show_sql">true</property>

		<!-- Enable this to generate tables from Entity classes. But not for production. -->
		<property name="hibernate.hbm2ddl.auto">create</property>

		<mapping class="Instructor" />
		<mapping class="InstructorDetail" />
		<mapping class="Student" />
		<mapping class="Course" />
    </session-factory>
</hibernate-configuration>
